# Metodos_Numericos

- [**Tema 1** : Introducción a Métodos Numéricos](./Tema1.md)
- [**Tema 2** : Solución de ecuaciones](./Tema2.md)
- [**Tema 3** : Solución de sistemas de ecuaciones](./Tema3.md)
- [**Tema 4** : Diferenciación e integración numérica](./Tema4.md)
- [**Tema 5** : Interpolación y ajuste de funciones](./Tema5.md)
- [**Tema 6** : Solución de ecuaciones diferenciales](./Tema6.md)

